*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html {scroll-behavior: smooth;}

body{
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    -webkit-font-smoothing: none;
}

.crt-overlay{
    background: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        rgba(0,0,0,0.18) 2px,
        rgba(0,0,0,0.18) 4px
    );
    pointer-events: none;
}

.crt-overlay::after{
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at center, transparent 55%, rgba(0,0,0,0.75) 100%);
}

.scanline-bar{
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 255, 65, 0.04) 50%,
        transparent
    );
    animation: scanline 5s linear infinite;
    top: -10%;
}

@keyframes scanline{
    0% {top: -10%;}
    100%{top:110%;}
}

.signal-bar{
    width: 8px;
    border-radius: 1px;
    transition: background 0.4s, height 0,3s;
}

.vu-bar{
    width: 6px;
    border-radius: 1px;
    background: #005c17;
    transition: height 0.06s ease;
    align-self: flex-end;
}

.vu-bar.mid { background: #00aa2a;}
.vu-bar.high { background: #00ff41;}
.vu-bar.peak { background: #ff2020; box-shadow: 0 0 6px #ff2020;}

#tuner-thumb{
    transition: left 0.05s linear;
    box-shadow: 0 0 8px #00ff41;
}

.log-line{
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #00aa2a;
    opacity: 0;
    animation: fadeInLine 0.3s ease forwards;
    white-space: pre;
    overflow: hidden;
}

.log-line.static-line {color: #1e2d1e;}
.log-line.signal-line {color: #00ff41; text-shadow: 0 0 8px #00ff4166; }
.log-line.warn-line {color: #ffaa00}
.log-line.red-line {color: #ff2020; text-shadow: 0 0 8px #ff202066;}

@keyframes fadeInLine{
    from{ opacity: 0; transform: translateX(-4px);}
    to{opacity: 1; transform: translateX(0);}

.glitch.frame{
    animation: glitchFrame 0.15s ease 2;
}

@keyframes glitchFrame{
    0%,100% { filter: none}
    33% { filter: hue-rotate(90deg) brightness(1.3);}
    66% {filter: hue-rotate(-90deg) contrast(1.5)}
}

.do-shake{
    animation: pageShake 0.5s wase !important;
}

@keyframes pageShake{
    0%,100%{transform: translate(0,0);}
    15%{transform: translate(0,0);}
    30%{transform: translate(0,0);}
    45%{transform: translate(0,0);}
    60%{transform: translate(0,0);}
    75%{transform: translate(0,0);}
    90%{transform: translate(0,0);}
}

